@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-section-header {
  @apply text-cornflower-blue font-bold text-[15px];
}

.invoice-form-label {
  @apply text-[13.5px] font-medium  text-opacity-80 block;
}

.invoice-form-input {
  @apply border border-purple-300 border-opacity-[0.4] shadow-sm w-full py-3 px-4 focus:outline-none  font-semibold rounded-md text-[15px] focus:border-cornflower-blue;
}

.invoice-form-input2 {
  @apply shadow-sm w-full px-4 focus:outline-none  font-semibold rounded-md text-[15px];
}

.primary-text {
  @apply text-cornflower-blue text-sm text-opacity-80 font-semibold;
}

.primary-text-dark {
  @apply text-white text-sm text-opacity-80 font-semibold;
}
.secondary-text {
  @apply text-cinder font-bold text-[15px];
}

.secondary-text-dark {
  @apply text-white font-bold text-[15px];
}

/* Style for all scrollable elements */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.btn-add-new {
  @apply font-bold text-opacity-90 flex items-center justify-center w-full gap-2 text-[15px]  py-3.5 rounded-3xl  hover:bg-opacity-[0.15] transition-colors mt-8;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e8e6f7; /* color of the scroll thumb */

  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

/* calendar styles */
.react-calendar {
  border: none;
  border-radius: 10px;
  color: #232c44;
  font-family: League Spartan, sans-serif;
  padding: 10px;
}

.react-calendar__tile {
  background: white;
  border-radius: 100%;
  transition: background 0.3s, color 0.3s;
  font-weight: 700;
  padding: 7px;
  cursor: pointer;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #e6f7ff;
  color: #0050b3;
}

.react-calendar__tile--now {
  background: #bae7ff;
  color: white;
}

.react-calendar__tile--active {
  background: #6865e6;
  color: white;
}
